@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------Footer component---------------------------*/
.footer {
  height: fit-content;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 0 20rem;
}
.footer-logistics {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.secure-pay,
.express-ship,
.return-free {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secure-pay i,
.express-ship i,
.return-free i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: orange;
  font-size: 1.3rem;
}
.divider-footer {
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.46);
  background-color: 1px solid rgba(0, 0, 0, 0.35);
  margin-bottom: 7rem;
}
.ariyas-about-shop {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.ariyas-details h2,
.ariyas-details p {
  margin-bottom: 1rem;
}
.ariyas-details h2 {
  margin-bottom: 2rem;
}

.ariyas-shop h2,
.ariyas-shop p {
  margin-bottom: 1rem;
}
.ariyas-shop h2 {
  margin-bottom: 2rem;
}

.ariyas-about h2,
.ariyas-about p {
  margin-bottom: 1rem;
}
.ariyas-about h2 {
  margin-bottom: 2rem;
}
.need-help h2,
.need-help p {
  margin-bottom: 1rem;
}
.need-help h2 {
  margin-bottom: 2rem;
}
.ariyas-details h2,
.ariyas-shop h2,
.ariyas-about h2,
.need-help h2 {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.728);
  font-size: 1.7rem;
}
.ariyas-details p,
.ariyas-shop p,
.ariyas-about p,
.need-help p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.728);
}
.ariyas-links {
  margin-bottom: 5rem;
}
.ariyas-links i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.ariyas-links i:hover {
  color: orange;
}
.footer-payment {
  padding: 0 20rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(240, 248, 255, 0.777);
}
.footer-payment i {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(6, 152, 242);
}

.footer-links {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer-links:hover {
  color: orange;
}
.footer-shop-links {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer-shop-links:hover {
  color: orange;
}

/*----------------------Navigation Bar-----------------------------*/
#nav-container {
  width: 100%;
  height: fit-content;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray;
}
#nav-container nav {
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-wrap: wrap;
}

.list-content ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 120%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}
.list-content ul .nav-links {
  margin: 1rem;
  list-style: none;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  margin: 0 20px;
  font-family: "Poppins", sans-serif;
  color: orange;
  font-weight: bold;
}
.list-content ul .nav-links::after {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;
  content: "";
  width: 0;
  height: 3px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.list-content ul .nav-links:hover::after {
  color: orange;
  width: 100%;
}
.auth-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons-nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons-nav ul li {
  list-style: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.icons-nav ul li:hover {
  filter: invert(80);
}
.log-sign {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.log-sign .btnAuth {
  cursor: pointer;
  background-color: orange;
  border: none;
  padding: 0.7rem 0.9rem;
  border-radius: 0.4rem;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease-in-out;
}
.log-sign .btnAuth:hover {
  background-color: rgb(242, 104, 53);
}
.active-link {
  border-bottom: 3px solid orange;
}

/*----------------------------Page not Found------------------------*/
.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.pageNotFound h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 200;
}
.pageNotFound button {
  background-color: orange;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}
.pageNotFound button a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.pageNotFound button:hover {
  background-color: rgb(225, 118, 24);
}

/*------------------------register page-------------------------------*/
.register-container {
  display: flex;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.form-container {
  flex: 1; /* Take up half of the available width */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.static-img-container {
  flex: 1; /* Take up the other half of the available width */
  background-color: #f0f0f0; /* Set a background color or add your image */
  background-size: cover; /* Ensure the background covers the entire container */
}

.form-mediator {
  background-color: aliceblue;
  padding: 2rem;
  height: 50vh;
}

/*Input Name*/
.input-field-name {
  display: flex;
  flex-wrap: wrap;
}
.input-field-name .first-name,
.input-field-name .last-name {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.input-field-name .input-name {
  display: flex;
  gap: 1rem;
}

/*Email Section*/
.email-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#email {
  padding: 0.5rem 0.8rem;
  width: 50%;
  border-bottom: 3px solid gray;
  border: none;
}

/*Phone section*/
.phone-section {
  display: flex;
  flex-direction: column;
}
.divider-phone {
  display: flex;
  gap: 1rem;
}

/*Password Section*/
.password-section {
  display: flex;
  flex-direction: column;
}
.init-con-pass {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Submit*/
.submit-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

/*----------------------------Login-------------------------*/
.login-container {
  display: flex;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.login-div-container {
  flex: 1; /* Take up half of the available width */
  padding: 20px; /* Add padding as needed */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-img-container {
  flex: 1; /* Take up the other half of the available width */
  background-color: #f0f0f0; /* Set a background color or add your image */
  background-size: cover; /* Ensure the background covers the entire container */
}
